<div>
  Reusable Autocomplete component
</div>
<form class="autocomplete-form">
  <mat-form-field class="autocomplete-full-width">
    <mat-label>State</mat-label>
    <input
      type="text"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      (keyup)="searchTerm$.next($event.target.value)"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
